<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="/resources/{{ icon }}"/>
	<link rel="stylesheet" href="/resources/highlight.css">
	<script src="/resources/highlight.js"></script>
	<script src="/resources/mermaid.min.js"></script>
	<link rel="stylesheet" href="/resources/style.css">
	<title>{{ config.short_title | safe }}</title>
</head>
<body>
<div id="top-space">
	<h1>{{ config.full_title }}</h1>
	<form>
		<div>
			<input type="search" name="search" placeholder="Искать на вики" autocapitalize="sentences" title="Искать на вики [Alt+Shift+f]" accesskey="f" autocomplete="off">
			<input type="submit" title="Искать">
		</div>
	</form>
</div>
<div id="content">{{ content|safe }}</div>
<div id="side-bar">
	<div id="logo">{{ logo|safe }}</div>
	<div>{{ sidebar|safe }}</div>
</div>
</body>
<script>
	MathJax = {
		options: {
			renderActions: {
				find: [10, function (doc) {
					for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
						const display = !!node.type.match(/; *mode=display/);
						const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
						const text = document.createTextNode('');
						node.parentNode.replaceChild(text, node);
						math.start = {node: text, delim: '', n: 0};
						math.end = {node: text, delim: '', n: 0};
						doc.math.push(math);
					}
				}, '']
			}
		}
	};
</script>
<script type="text/javascript" src="/resources/mathjax.js"></script>
<script>
	document.querySelector('#top-space>form').addEventListener('submit', e => {
		e.preventDefault();
		window.location.href = '/search/' + encodeURIComponent(document.querySelector('#top-space>form input[type="search"]').value);
		return false;
	});
	document.addEventListener('DOMContentLoaded', _ => {
		mermaid.initialize({'theme': '{{ config.mermaid_theme }}'});
		document.querySelectorAll('code').forEach((block) => {
			if (block.classList.contains('lang-mermaid')) {
				let e = document.createElement('div');
				e.classList.add('mermaid');
				e.innerHTML = block.innerHTML;
				block.parentElement.replaceWith(e);
			} else hljs.highlightBlock(block);
		});
	});
</script>
</html>
